aiohttp==3.9.4
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
certifi==2023.7.22
chardet==4.0.0
idna==3.7
multidict==5.1.0
pyTelegramBotAPI==3.8.1
requests==2.32.0
typing-extensions==3.10.0.0
urllib3==1.26.18
xspf-lib==0.2.0
yarl==1.6.3